version: '3.6'

services:
  finance-db:
    image: docker.io/mariadb
    container_name: finance-db
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      - MYSQL_ROOT_PASSWORD={root_password}
      - MYSQL_PASSWORD={user_password}
      - MYSQL_DATABASE={database_name}
      - MYSQL_USER={username}
    volumes:
      - {db_mount_point}:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    restart: always

  finance-app:
    build: .
    container_name: finance-app
    command: ./install-and-start.sh
    depends_on:
      - finance-db
    volumes:
      - {repo_file_location}:/app
    ports:
      - 3000:3000
    restart: always

  # optional: used to manage db
  adminer:
    image: docker.io/adminer
    container_name: adminer
    depends_on:
      - finance-db
    ports:
      - 8080:8080
    restart: unless-stopped