extends layout

block content
  h2 Add Account
  p.error #{error_text}
  form(name="add-account", method="post")
    table
      tr
        td
          span.label Name:
        td
          input(type="text", name="name")
      tr
        td
        td
          div.actions
            input(type="submit", value="Add")