extends layout

block content
  h2 Add Entry
  form(name="add", method="post")
    table
      tr
        td
          span.label Date:
        td
          input(type="text", name="date")
      tr
        td
          span.label Title:
        td
          input(type="text", name="title")
      tr
        td
          span.label Location:
        td
          input(type="text", name="location")
      tr
        td
          span.label Account:
        td
          input(type="text", name="account")
      tr
        td
          span.label From:
        td
          input(type="text", name="transfer")
      tr
        td
          span.label Amount:
        td
          input(type="number", step="0.01", name="amount")
      tr
        td
          span.label Categories:
        td
          input(type="text", name="categories")
      tr
        td
          span.label Note:
        td
          input(type="text", name="note")
      tr
        td
        td
          input(type="submit", value="Add")