extends layout

block content
  h2 Balances
  table
    thead
      tr: th Account
          th Balance
    tbody
      each account in accounts
        tr.row
          td= account.name
          td.number= account.balance