extends layout

block content
  h2 Balances
  table(cellpadding="5px")#left
    thead
      tr: th Account
          th Balance
    tbody
      each account in accounts
        tr.row
          td= account.name
          td.number= account.balance
  div#plot
  script var plot_data = !{JSON.stringify(accounts)}
  script(src="/javascripts/plot-bar.js")