extends layout

block content
  h1= title
  p Welcome #{name}!
  a(href="/accounts")     Accounts
  br
  a(href="/history")      History
  br
  a(href="/add")          Add Transaction
  br
  a(href="/add-account")  Add Account