extends layout

block content
  h2 Home
  p.error #{error_text}
  p Welcome #{name}! You have $#{total}!
  div#plot
  script var plot_data = !{JSON.stringify(totals)}
  script(src="/javascripts/plot-line.js")