doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Finance
    a(href="/")             Home
    span 
    a(href="/accounts")     Accounts
    span 
    a(href="/history")      History
    span 
    a(href="/add")          Add Transaction
    span 
    a(href="/add-account")  Add Account
    block content