doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://d3js.org/d3.v5.min.js")
  body
    h1 Finance
    a(href="/").link Home
    a(href="/accounts").link Accounts
    a(href="/history").link History
    a(href="/add").link Add Transaction
    a(href="/settings").link Settings
    block content