doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://d3js.org/d3.v5.min.js")
  body
    table#header
      tr
        td(onclick="document.location='/'")#title Finance
        td(onclick="document.location='/accounts'").link Accounts
        td(onclick="document.location='/add'").link Add Transaction
        td(onclick="document.location='/history'").link History
        td(onclick="document.location='/plot'").link Plot
        td(onclick="document.location='/analytics'").link Analytics
        td(onclick="document.location='/bulkEdit'").link Bulk Edit
        td(onclick="document.location='/settings'").link Settings
    div#content
      block content