doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Finance
    a(href="/").link Home
    a(href="/accounts").link Accounts
    a(href="/history").link History
    a(href="/add").link Add Transaction
    a(href="/add-account").link Add Account
    block content