extends layout

block content
  h2 Login
  p.error #{error_text}
  form(name="login", method="post")
    table
      tr
        td
          span.label Username:
        td
          input(type="text", name="user")
      tr
        td
          span.label Password:
        td
          input(type="password", name="pass")
      tr
        td
        td
          input(type="submit", value="Login")