extends layout

block content
  p.error #{error_text}
  h2 Login
  form(name="login", action="/login", method="post")
    table
      tr
        td
          span.label Username:
        td
          input(type="text", name="user").textbox
      tr
        td
          span.label Password:
        td
          input(type="password", name="pass").textbox
      tr
        td
        td
          input(type="submit", value="Login")
  
  h2 Create Account
  form(name="create", action="/login/create", method="post")
    table
      tr
        td
          span.label Username:
        td
          input(type="text", name="user").textbox
      tr
        td
          span.label Password:
        td
          input(type="password", name="pass1").textbox
      tr
        td
          span.label Repeat:
        td
          input(type="password", name="pass2").textbox
      tr
        td
        td
          input(type="submit", value="Create")