body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

thead {
  background-color: #f2f2f2;
}

.row:nth-child(even) {
  background-color: #f2f2f2;
}

.number {
  text-align: right;
}

.number.textbutton {
  float: right;
}

#header {
  width: 100%;
  background-color: dodgerblue;
  height: 48px;
  line-height: 1;
}

#title {
  display: inline-block;
  font-size: 32px;
  color: white;
  margin: 12px;
  user-select: none;
}

.link {
  display: inline;
  font-size: 16px;
  padding: 5px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-right: 8px;
  border: none;
  color: white;
  background-color: #00B7FF;
  user-select: none;
}

.link:hover {
  background-color: dodgerblue;
}

#content {
  margin: 16px;
}

#left {
  float: left;
  margin-right: 5px;
}

.error {
  color: #FF0000;
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hidden {
  display: none;
}

.textbutton {
  text-decoration: none;
  color: black;
}

#tooltip {
  position: absolute;
}

input.textbox {
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 4px;
}

input[type=submit] {
  background-color: whitesmoke;
  min-width: 100px;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 4px;
}

input[type=submit]:active {
  background-color: lightgray;
}

select {
  background-color: whitesmoke;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 4px;
}