body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

thead {
  background-color: #f2f2f2;
}

.row:nth-child(even) {
  background-color: #f2f2f2;
}

.number {
  text-align: right;
}

.link {
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
  background-color: #00B7FF;
}

#left {
  float: left;
  margin-right: 5px;
}